{{outlet}}	
<div class="row">
  {{#each model as |rate|}}
    <div class="col-md-5 col-lg-4">
    	<div class="card card-inverse card-rate">
        <div class="card-block">
          <div class="card-edits  card-rate">
            {{#link-to 'dashboard.rates.edit' rate.id class="btn"}}<i class="fa fa-edit" tooltip="Edit Rate"></i>{{/link-to}}
            <a class="btn" {{action 'showModal' 'confirm-delete' rate}}><i class="fa fa-trash" tooltip="Delete Rate"></i></a>
          </div>
          <h3 class="card-title">{{rate.name}}</h3>
          <h3 class="card-title">{{organizationName}}</h3>
        </div>
         {{img-liquid image=rate.image fill=true horizontalAlign="center" verticalAlign="50%"}}
        <div class="card-block">
       
        </div>
      </div>
    </div>
  {{/each}}
</div>

